<mat-card>
    <a [routerLink]="['/products','all']"><img class="home-card" src="assets/images/logo.jpg"></a>
</mat-card>

<p
    style="margin-bottom: 2em;margin-top: 2em;margin-left: 1em; font-weight: 500; font-size: 1.6em; font-family: Arial, Helvetica, sans-serif;">
    CATEGORIES TO BAG</p>

<div class="foot-cart1">

    <a [routerLink]="['/products','all']"> <mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat1.jpg">

        </mat-card></a>

    <a [routerLink]="['/products','all']">
        <mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat2.jpg">
        </mat-card>
    </a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat3.jpg">
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat4.jpg">
        </mat-card></a>


    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart1">
            <img class="cat-logo" src="assets/images/categories/cat5.jpg">
        </mat-card></a>



    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat6.jpg">

        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat7.jpg">
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat8.jpg">
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart">
            <img class="cat-logo" src="assets/images/categories/cat9.jpg">
        </mat-card></a>


    <a [routerLink]="['/products','all']"><mat-card class="example-card-cart1">
            <img class="cat-logo" src="assets/images/categories/cat10.jpg">
        </mat-card></a>


</div>

<br />

<p
    style="margin-bottom: 2em; margin-left: 1em;margin-top: 1em; font-weight: 500; font-size:1.6em; font-family: Arial, Helvetica, sans-serif;">
    EXPLORE TOP BRANDS</p>



<div class="foot-brand1">
    <a [routerLink]="['/products','all']"> <mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/wrogn.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">WROGN</p>

            <span></span>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand10.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">U.S POLO ASSN.</p>
        </mat-card></a>


    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand1.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">WelN</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand3.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">LEVI'S</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand1">
            <img class="brand-logo" src="assets/images/brands/brand2.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">ZARA</p>
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand5.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">JACK & JONES</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand6.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">HRX</p>
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand7.jpeg">
            <p style="color:rgb(63, 61, 61); text-align: center;">INAYA</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/brands/brand4.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">FLYING MACHINE</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand1">
            <img class="brand-logo" src="assets/images/brands/brand9.jpeg">
            <p style="color:rgb(63, 61, 61); text-align: center;">LIBAS</p>
        </mat-card></a>


</div>

<br />

<p
    style="margin-bottom: 2em; margin-left: 1em;margin-top: 1em; font-weight: 500; font-size: 1.6em; font-family: Arial, Helvetica, sans-serif;">
    TRENDING IN ACCESSORIES</p>


<div class="foot-brand2">
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/accessories/acc1.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Women watches</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/accessories/acc3.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Bluetooth Headsets</p>
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/accessories/acc2.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Men watches</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="assets/images/accessories/acc4.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">All Accessories for men</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand1">
            <img class="brand-logo" src="assets/images/accessories/acc5.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Neckale for womens</p>
        </mat-card></a>
</div>

<p
    style="margin-bottom: 2em; margin-left: 1em;margin-top: 2em; font-weight: 500; font-size: 1.6em; font-family: Arial, Helvetica, sans-serif; ">
    TRENDING IN SPORTS WEAR</p>


<div class="foot-brand2">
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="https://stay-trendy.com/wp-content/uploads/2019/05/mens-shoes-2020-sports.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Running shoes</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo" src="https://i.pinimg.com/originals/c2/f9/cf/c2f9cfcaf5244664955734ff34191326.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Gym outfit for mens</p>
        </mat-card></a>
    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo"
                src="https://underarmour.scene7.com/is/image/Underarmour/V5ProdWithBadge?rp=standard-0pad|pdpMainDesktop&scl=1&fmt=jpg&qlt=85&resMode=sharp2&cache=on,off&bgc=F0F0F0&rect=0,0,612,650&$p_pos=306,325&$p_size=612,650&extendN=0,0.00,0,0.00&$p_src=is{Underarmour/V5-1290261-001_FC_Main}">
            <p style="color:rgb(63, 61, 61); text-align: center;">Joggers</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand">
            <img class="brand-logo"
                src="https://ae01.alicdn.com/kf/He0dd3c473c9b451fbe36bb05d7c534156/women-gym-sets-2-piece-long-sleeve-fitness-suit-sportswear-seamless-workout-gym-wear-set-woman.jpg_q50.jpg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Gym outfit for Womens</p>
        </mat-card></a>

    <a [routerLink]="['/products','all']"><mat-card class="example-card-brand1">
            <img class="brand-logo" src="https://4.imimg.com/data4/RE/BI/ANDROID-41682785/product-500x500.jpeg">
            <p style="color:rgb(63, 61, 61); text-align: center;">Sports shoes</p>
        </mat-card></a>
</div>